.home-promo3 {
	width: 94vw;
	height: 100vh;
	margin: 2rem auto;
}
.home-promo3__title {
	margin: 5rem auto;
	width: 40vw;
	font-size: 2rem;
	text-align: center;
	color: #FFF;
	justify-content: flex-end;
}
.home-promo3__button-title {
	margin: auto;
}

.promo3-title {
	margin: auto;
}